.check{

    width: 90%;
    margin: 100px auto 20px;
    background-color: #242424;
    color:white;
    text-align:center;
    padding:20px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius:20px;
    z-index:50;
    position: relative;
    /* transition: .5s ease-in-out; */
    
}
.check:hover{
box-shadow: rgb(0, 0, 0) 10px 10px 10px 15px;
transition: .5s ease-in-out;
}
.check h1{
    margin: 10px 0;
    font-size:4rem;
}
.check p{
    font-size:1rem;
}
input {
    width: 80%;
    padding: 10px;
    margin: 30px 0;
    font-size:1.5rem;
    background-color:grey;
    border-radius:5px;
  }
  input::placeholder{
    color:rgb(0, 0, 0, 0.6);
  }
  input:focus{
    border:none;
    outline: none;
    background-color: #fff;
  }
  input:hover{
      cursor: pointer;
  }




  /* From Uiverse.io by doniaskima */ 
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
    width:200px;
    margin:0 auto;
    align-self: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
.waves{
    margin-top:-350px;
    z-index:-1;
}
@media(max-width:750px){
    .waves{
        margin-top:-180px;
    }
}
.path-0 {
    animation: pathAnim-0 4s linear infinite;
  }
  
  .path-1 {
    animation: pathAnim-1 4s linear infinite;
  }
  
  @keyframes pathAnim-0 {
    0% {
      d: path("M 0,600 L 0,150 C 55.49103465285485,151.72544086817118 110.9820693057097,153.45088173634232 165,142 C 219.0179306942903,130.54911826365768 271.56275743001606,105.92191392280182 322,121 C 372.43724256998394,136.07808607719818 420.76690097422613,190.86146257245036 477,201 C 533.2330990257739,211.13853742754964 597.3696386730793,176.63223578739672 655,159 C 712.6303613269207,141.36776421260328 763.7545443334566,140.60959427796274 813,142 C 862.2454556665434,143.39040572203726 909.6121839930943,146.92938710075228 964,164 C 1018.3878160069057,181.07061289924772 1079.7967196941668,211.67285731902825 1140,215 C 1200.2032803058332,218.32714268097175 1259.200937230238,194.37918362313476 1309,179 C 1358.799062769762,163.62081637686524 1399.399531384881,156.81040818843263 1440,150 L 1440,600 L 0,600 Z");
    }
    25% {
      d: path("M 0,600 L 0,150 C 50.13032433099025,122.75294117647059 100.2606486619805,95.50588235294119 158,90 C 215.7393513380195,84.49411764705881 281.08772968306823,100.72941176470584 342,120 C 402.91227031693177,139.27058823529416 459.38843260574674,161.5764705882353 501,167 C 542.6115673942533,172.4235294117647 569.3585398939449,160.96470588235294 623,150 C 676.6414601060551,139.03529411764706 757.1774078184733,128.56470588235297 817,147 C 876.8225921815267,165.43529411764703 915.9318288321618,212.77647058823527 968,200 C 1020.0681711678382,187.22352941176473 1085.0952768528796,114.32941176470588 1145,88 C 1204.9047231471204,61.67058823529412 1259.6870637563202,81.90588235294118 1308,100 C 1356.3129362436798,118.09411764705882 1398.15646812184,134.04705882352943 1440,150 L 1440,600 L 0,600 Z");
    }
    50% {
      d: path("M 0,600 L 0,150 C 65.32741398446171,129.57933160685658 130.65482796892343,109.15866321371317 173,122 C 215.34517203107657,134.84133678628683 234.708102108768,180.94467875200394 295,179 C 355.291897891232,177.05532124799606 456.51276359600445,127.06262177827108 509,127 C 561.4872364039956,126.93737822172892 565.2408435072142,176.8048341349118 610,208 C 654.7591564927858,239.1951658650882 740.5238623751388,251.71804168208163 807,224 C 873.4761376248612,196.28195831791837 920.6637069922306,128.32299913676164 970,130 C 1019.3362930077694,131.67700086323836 1070.8213096559382,202.98996177087184 1123,219 C 1175.1786903440618,235.01003822912816 1228.0510543840178,195.7171537797509 1281,175 C 1333.9489456159822,154.2828462202491 1386.974472807991,152.14142311012455 1440,150 L 1440,600 L 0,600 Z");
    }
    75% {
      d: path("M 0,600 L 0,150 C 64.81795535824394,130.02806757923295 129.63591071648787,110.0561351584659 186,127 C 242.36408928351213,143.9438648415341 290.2743124922925,197.80352694536936 337,214 C 383.7256875077075,230.19647305463064 429.26683931434206,208.7297570600567 474,205 C 518.7331606856579,201.2702429399433 562.6583302503391,215.27744481440374 617,209 C 671.3416697496609,202.72255518559626 736.0998396843014,176.1604636823283 793,174 C 849.9001603156986,171.8395363176717 898.9423110124554,194.08070045628313 950,199 C 1001.0576889875446,203.91929954371687 1054.1309162658774,191.51673449253914 1109,193 C 1163.8690837341226,194.48326550746086 1220.5340239240352,209.85236157356027 1276,205 C 1331.4659760759648,200.14763842643973 1385.7329880379825,175.07381921321985 1440,150 L 1440,600 L 0,600 Z");
    }
    100% {
      d: path("M 0,600 L 0,150 C 55.49103465285485,151.72544086817118 110.9820693057097,153.45088173634232 165,142 C 219.0179306942903,130.54911826365768 271.56275743001606,105.92191392280182 322,121 C 372.43724256998394,136.07808607719818 420.76690097422613,190.86146257245036 477,201 C 533.2330990257739,211.13853742754964 597.3696386730793,176.63223578739672 655,159 C 712.6303613269207,141.36776421260328 763.7545443334566,140.60959427796274 813,142 C 862.2454556665434,143.39040572203726 909.6121839930943,146.92938710075228 964,164 C 1018.3878160069057,181.07061289924772 1079.7967196941668,211.67285731902825 1140,215 C 1200.2032803058332,218.32714268097175 1259.200937230238,194.37918362313476 1309,179 C 1358.799062769762,163.62081637686524 1399.399531384881,156.81040818843263 1440,150 L 1440,600 L 0,600 Z");
    }
  }
  
  @keyframes pathAnim-1 {
    0% {
      d: path("M 0,600 L 0,350 C 49.86498951781971,340.18039215686275 99.72997903563942,330.3607843137255 147,321 C 194.27002096436058,311.6392156862745 238.94507337526204,302.73725490196074 291,317 C 343.05492662473796,331.26274509803926 402.4897274633124,368.69019607843137 458,379 C 513.5102725366876,389.30980392156863 565.0960167714885,372.5019607843137 627,369 C 688.9039832285115,365.4980392156863 761.1262054507339,375.30196078431374 811,379 C 860.8737945492661,382.69803921568626 888.3991614255764,380.2901960784314 946,375 C 1003.6008385744236,369.7098039215686 1091.2771488469602,361.5372549019608 1146,341 C 1200.7228511530398,320.4627450980392 1222.4922431865828,287.5607843137255 1266,287 C 1309.5077568134172,286.4392156862745 1374.7538784067087,318.2196078431373 1440,350 L 1440,600 L 0,600 Z");
    }
    25% {
      d: path("M 0,600 L 0,350 C 49.76914539400666,388.95434702182763 99.53829078801331,427.9086940436552 162,418 C 224.4617092119867,408.0913059563448 299.6159822419534,349.3195708472068 343,341 C 386.3840177580466,332.6804291527932 397.99778024417316,374.8130225675176 450,400 C 502.00221975582684,425.1869774324824 594.392896781354,433.42833888272287 662,407 C 729.607103218646,380.57166111727713 772.4306326304107,319.4736219015909 820,300 C 867.5693673695893,280.5263780984091 919.8845726970033,302.6771735109138 971,325 C 1022.1154273029967,347.3228264890862 1072.0310765815761,369.817684054754 1119,383 C 1165.9689234184239,396.182315945246 1209.9911209766924,400.0520902700703 1263,393 C 1316.0088790233076,385.9479097299297 1378.0044395116538,367.97395486496487 1440,350 L 1440,600 L 0,600 Z");
    }
    50% {
      d: path("M 0,600 L 0,350 C 57.74018991244296,334.3265507460846 115.48037982488592,318.6531014921692 166,319 C 216.51962017511408,319.3468985078308 259.81867061289927,335.71414477740785 315,337 C 370.18132938710073,338.28585522259215 437.2449377235172,324.4903193981995 499,324 C 560.7550622764828,323.5096806018005 617.2015784930325,336.3245776297941 666,341 C 714.7984215069675,345.6754223702059 755.9487483043532,342.2113700826242 797,325 C 838.0512516956468,307.7886299173758 879.0034282895549,276.829942039709 939,284 C 998.9965717104451,291.170057960291 1078.0375385374275,336.4688617585399 1132,350 C 1185.9624614625725,363.5311382414601 1214.846417560735,345.29461092613144 1262,340 C 1309.153582439265,334.70538907386856 1374.5767912196325,342.3526945369343 1440,350 L 1440,600 L 0,600 Z");
    }
    75% {
      d: path("M 0,600 L 0,350 C 41.92576149956838,387.7577013195215 83.85152299913676,425.5154026390431 141,415 C 198.14847700086324,404.4845973609569 270.51966950302136,345.6960907633494 326,316 C 381.48033049697864,286.3039092366506 420.06979898877785,285.70023430755947 472,312 C 523.9302010112222,338.29976569244053 589.2011345418672,391.5029720064126 638,390 C 686.7988654581328,388.4970279935874 719.1256628437537,332.28787766679 773,330 C 826.8743371562463,327.71212233321 902.2962140831175,379.3455173264274 967,374 C 1031.7037859168825,368.6544826735726 1085.689480823776,306.3300530275003 1138,294 C 1190.310519176224,281.6699469724997 1240.9458626217784,319.33427056357135 1291,337 C 1341.0541373782216,354.66572943642865 1390.5270686891108,352.3328647182143 1440,350 L 1440,600 L 0,600 Z");
    }
    100% {
      d: path("M 0,600 L 0,350 C 49.86498951781971,340.18039215686275 99.72997903563942,330.3607843137255 147,321 C 194.27002096436058,311.6392156862745 238.94507337526204,302.73725490196074 291,317 C 343.05492662473796,331.26274509803926 402.4897274633124,368.69019607843137 458,379 C 513.5102725366876,389.30980392156863 565.0960167714885,372.5019607843137 627,369 C 688.9039832285115,365.4980392156863 761.1262054507339,375.30196078431374 811,379 C 860.8737945492661,382.69803921568626 888.3991614255764,380.2901960784314 946,375 C 1003.6008385744236,369.7098039215686 1091.2771488469602,361.5372549019608 1146,341 C 1200.7228511530398,320.4627450980392 1222.4922431865828,287.5607843137255 1266,287 C 1309.5077568134172,286.4392156862745 1374.7538784067087,318.2196078431373 1440,350 L 1440,600 L 0,600 Z");
    }
  }